grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 840px) {
    grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

h2 {
    margin: 0;
}

flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

left {
    width: 25%;
    overflow: hidden;
    box-sizing: border-box;
}
left img {
    width: 100%;
}
right {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
}

body, html {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
card {
    background-color: rgba(55,55,55,.55);
    color: #fff;
    border-radius: 16px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 120px;
    border: 2px solid transparent;
}

card:hover {
    border: 2px solid rgba(86, 86, 255, 0.6);
    cursor: pointer;
    transition: all 0.42s ease-in;
}

.playlist-card flex {
    padding: 4px;
    box-sizing: border-box;
    align-items: flex-start;
}
.playlist-card flex img {
    object-fit: cover;
    border-radius: 4px;
}
.playlist-card right {
    box-sizing: border-box;
    padding-left: 20px;
    
}
.description {
    font-size: 12px;
    line-height: 16px;
}

.playlists-heading {
    padding: 24px 0;
}