grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media screen and (max-width: 768px) {
    grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

left {
    width: 25%;
    overflow: hidden;
}
left img {
    width: 100%;
}
right {
    width: 75%;
    height: 100%;
}

card {
    background-color: #000;
    color: #fff;
    border-radius: 16px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 120px;
    border: 2px solid transparent;
}

card:hover {
    border: 2px solid rgba(86, 86, 255, 0.6);
    cursor: pointer;
    transition: all 0.42s ease-in;
}

.playlist-card flex {
    padding: 4px;
    box-sizing: border-box;
    align-items: flex-start;
}
.playlist-card flex img {
    object-fit: cover;
    border-radius: 4px;
}
.playlist-card right {
    box-sizing: border-box;
    padding-left: 20px;
    
}